extends layout.pug

block content

  article.portfolio-intro
    

    h1 Web Development Portfolio

    p Check out my work!

  
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        project.cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, height = '250px', width = '250px', alt=`Screenshot of ${project.project_name} Project`)
            .centered_text
              h5 #{project.project_name}


