extends layout 

block content
    h1= `404 - Page not found`
    h2= `Oops! The page you're looking for doesn't exist`
        
    nav.nav
        a(href='/' class='backBtn') 
            span &larr;
            |  Home


            